

/* FONT + COLOR SETTINGS */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-image: linear-gradient(to top, #333, #111);
  color: #fff;       /* white text */
  font-size: 18px;
}

/* LOGO */
.logo {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 2rem auto 1rem auto;
}

/* NAVIGATION */
nav {
  background: #333;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  font-size: 1.25rem;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 1.5rem;
  font-weight: 600;
}
nav a:hover {
  opacity: 0.7;
}

/* MAIN CONTENT */
main {
  max-width: 900px;
  margin: auto;
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
  line-height: 1.6;
}

/* HEADINGS */
h2 {
  color: #eee;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* LISTS */
ul {
  list-style: square;
  padding-left: 2rem;
}

/* FOOTER */
footer {
  background: #111;
  color: #ccc;
  text-align: center;
  padding: 1.2rem;
  font-size: 1rem;
}
.footer-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  flex-wrap: wrap; /* Allows it to wrap if screen is too narrow */
}

.footer-inline img {
  width: 35px;
  height: auto;
}

/* HEADER SECTION */
header {
  background: #111;
  text-align: center;
  padding: 2rem 1rem;
}

.logo {
  max-width: 500px; /* Resize logo */
  height: auto;
  display: block;
  margin: 0 auto 2rem auto;
}

header h1 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: white;
  margin: 0;
}
.welcome-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
  gap: 2rem;
  flex-wrap: wrap;
}

.welcome-row-reverse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.welcome-row img,.welcome-row-reverse img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.welcome-text {
  flex: 1;
  color: white;
  font-size: 1.125rem;
}

.welcome-text h3 {
  font-size: 1.5rem;
  color: #eee;
  margin-bottom: 0.5rem;
}
